*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* BARRA DE NAVEGACION */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    margin-right: 4px;
    font-size: 15px;
}

nav img{
    width: 6rem;
    margin-right: 856px;
}

/* SECCION BANNER INICIO */
.cont-banner{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

section img{
    width: 83.6rem;
}

/* SECCION CURSOS */
.cont-cursos{
    margin-top: 50px;
}

.cont-cursos h1{
    text-align: center;
}

.contenedor-cards{
    display: flex;
    justify-content: center;
}

/* SECCION POR QUE ELEGIRNOS */
.cont-parrafo{
    width: 83.6rem;
    margin: 0 auto;
}

.cont-parrafo h2{
    margin-top: 50px;
    font-weight: 500;
}

/* FOOTER */
footer{
    margin-top: 70px;
}

footer hr{
    width: 83.6rem;
    margin: 0 auto;
}

footer .cont-info-footer img{
    width: 3.5rem;
}

.cont-info-footer{
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-info-footer h3{
    font-weight: 450;
    margin-top: 20px;
}

.cont-info-footer p{
    margin-top: 35px;
    font-size: 14px;
}
