* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* BARRA DE NAVEGACION */
header .nav-inscripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

header .nav-inscripcion a img {
    width: 5rem;
    margin-right: 856px;
}

header .nav-inscripcion ul li{
    list-style: none;
    text-decoration: none;
}

header .nav-inscripcion ul a{
    text-decoration: none;
    color: black;
}

/* SECCION CURSOS */
.main-dashboard{
    margin-left: 44px;
}

.main-dashboard hr{
    margin: 35px 0px 0 90px;
    width: 79rem;
    text-align: left;
}

.mensaje h1{
    font-weight: 550;
    margin: 35px 0 0 90px;
    font-size: 30px;
}

.mensaje p{
    margin: 5px 0 0 90px;
}

.mensaje span{
    font-weight: 500;
    background-color:#c4ff034e;
    padding: 2px 8px;
    border-radius: 5px;
}

h2{
    font-weight: 400;
    margin: 25px 0 0 90px;
}

.cont-cards{
    display: flex;
    flex-direction: column;
    margin: 25px 90px 0 90px;
}

.card-curso{
    background-color: #EEEEEE;
    margin: 15px 0 15px 90px;
    border-radius: 5px;
    padding: 20px;
    width: 79rem;
}

.card-curso p span {
    font-weight: 550;
    margin-top: 15px;
}

.card-curso h3{
    padding-bottom: 10px;
    font-size: 20px;
}

main a{
    margin-left: 90px;
    color: black;
    text-decoration: none;
}

.margen{
    margin-top: 25px;
}

main a:hover{
    text-decoration: underline;
}

#graficoInscripciones {
    max-width: 800px;  
    max-height: 400px; 
    margin-left: 90px; 
    padding: 20px;
}

.btn-gestionar-cursos{
    background-color: #C5FF03;
    padding: 7px;
    border: solid 1px #a7a7a7;
    margin: 0 90px 0 90px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-gestionar-usuarios, .btn-gestionar-inscripciones{
    background-color: #C5FF03;
    padding: 7px;
    border: solid 1px #a7a7a7;
    margin: 20px 90px 0 90px;
    border-radius: 5px;
    cursor: pointer;
}

#cont-inscripciones{
    display: flex;
    justify-content: flex-start;
    margin: 25px 0 0 90px;
    flex-wrap: wrap;
    gap: 30px;
    width: 79rem;

}

.inscripcion{
    background-color: #EEEEEE;
    width: 25rem;
    padding: 17px;
    border-radius: 5px;
}

.inscripcion h3{
    padding-bottom: 5px;
}

.inscripcion p{
    padding-bottom: 2px;
}

.inscripcion p span{
    font-weight: 550;
}

.inscripcion .acciones{
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.inscripcion .acciones .btn-aprobar{
    padding: 4px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    background-color: #96ff94;
    transition: all 0.2s;
}

.inscripcion .acciones .btn-aprobar:hover{
    background-color: #96ff94a0;
    cursor: pointer;
}

.inscripcion .acciones .btn-rechazar{
    padding: 4px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    background-color: #FF9494;
    transition: all 0.2s;
}

.inscripcion .acciones .btn-rechazar:hover{
    cursor: pointer;
    background-color: #ff949497;
}

hr {
    width: 83.6rem;
    margin: 0 auto;
}

/* FOOTER */
footer {
    margin-top: 70px;
}

footer hr {
    width: 83.6rem;
    margin: 0 auto;
}

footer .cont-info-footer img {
    width: 3.5rem;
}

.cont-info-footer {
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-info-footer h3 {
    font-weight: 450;
    margin-top: 20px;
}

.cont-info-footer p {
    margin-top: 35px;
    font-size: 14px;
}