* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* BARRA DE NAVEGACION */
header .nav-inscripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

header .nav-inscripcion a img {
    width: 5rem;
    margin-right: 856px;
}

header .nav-inscripcion ul li {
    list-style: none;
    text-decoration: none;
}

header .nav-inscripcion ul a {
    text-decoration: none;
    color: black;
}

/* SECCION CURSOS */
.main-dashboard {
    margin-left: 44px;
}

.main-dashboard hr {
    margin: 35px 0px 0 90px;
    width: 79rem;
    text-align: left;
}

.mensaje h1 {
    font-weight: 550;
    margin: 35px 0 0 90px;
    font-size: 30px;
}

.mensaje p {
    margin: 5px 0 0 90px;
}

.mensaje span {
    font-weight: 500;
    background-color: #c4ff034e;
    padding: 2px 8px;
    border-radius: 5px;
}

h2 {
    font-weight: 400;
    margin: 25px 0 0 90px;
}

.cont-cards {
    display: flex;
    flex-direction: column;
    margin: 25px 90px 0 90px;
}

#cont-cards .no-cursos {
    margin: 10px 0 10px 90px;
}

.card-curso {
    background-color: #EEEEEE;
    margin: 15px 0 15px 90px;
    border-radius: 5px;
    padding: 20px;
    width: 79rem;
}

.card-curso p span {
    font-weight: 550;
    margin-top: 15px;
}

.card-curso h3 {
    padding-bottom: 10px;
    font-size: 20px;
}

main a {
    margin-left: 90px;
    color: black;
    text-decoration: none;
}

.margen {
    margin-top: 25px;
}

main a:hover {
    text-decoration: underline;
}

#graficoInscripciones {
    max-width: 800px;
    max-height: 400px;
    margin-left: 90px;
    padding: 20px;
}

.btn-gestionar-cursos {
    background-color: #C5FF03;
    padding: 7px;
    border: solid 1px #a7a7a7;
    margin: 0 90px 0 90px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-gestionar-usuarios,
.btn-gestionar-inscripciones {
    background-color: #C5FF03;
    padding: 7px;
    border: solid 1px #a7a7a7;
    margin: 20px 90px 0 90px;
    border-radius: 5px;
    cursor: pointer;
}

#filtro-inscripciones{
    border-radius: 5px;
    margin-left: 90px;
    margin-top: 8px;
    padding: 3px;
}

#cont-inscripciones {
    display: flex;
    justify-content: flex-start;
    margin: 25px 0 0 90px;
    flex-wrap: wrap;
    gap: 30px;
    width: 79rem;

}

.inscripcion {
    background-color: #EEEEEE;
    width: 25rem;
    padding: 17px;
    border-radius: 5px;
}

.inscripcion h3 {
    padding-bottom: 5px;
}

.inscripcion p {
    padding-bottom: 2px;
}

.inscripcion p span {
    font-weight: 550;
}

.inscripcion .acciones {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.inscripcion .acciones .btn-aprobar {
    padding: 4px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    background-color: #96ff94;
    transition: all 0.2s;
}

.inscripcion .acciones .btn-aprobar:hover {
    background-color: #96ff94a0;
    cursor: pointer;
}

.inscripcion .acciones .btn-rechazar {
    padding: 4px 7px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    background-color: #FF9494;
    transition: all 0.2s;
}

.inscripcion .acciones .btn-rechazar:hover {
    cursor: pointer;
    background-color: #ff949497;
}

hr {
    width: 83.6rem;
    margin: 0 auto;
}

/* FOOTER */
footer {
    margin-top: 70px;
}

footer hr {
    width: 83.6rem;
    margin: 0 auto;
}

footer .cont-info-footer img {
    width: 3.5rem;
}

.cont-info-footer {
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-info-footer h3 {
    font-weight: 450;
    margin-top: 20px;
}

.cont-info-footer p {
    margin-top: 35px;
    font-size: 14px;
}

@media (max-width: 900px) {
    header .nav-inscripcion a img {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .main-dashboard{
        margin-left: 0;
    }

    .main-dashboard .mensaje h1{
        margin-left: 0px;
        text-align: center;
    }

    .main-dashboard .mensaje #mensaje-p{
        margin-left: 0px;
        text-align: center;
    }

    .cont-cursos h2{
        margin-left: 0px;
        text-align: center;
    }

    .cont-cards{
        display: flex;
        margin-top: 20px;
    }

    .card-curso{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .cards {
        width: 80%;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .cont-parrafo {
        width: 90%;
    }

    footer hr {
        width: 90%;
    }
    
    .main-dashboard hr{
        width: 90%;
        margin: 0 auto;
    }

    section{
        margin-bottom: 30px;
    }

    .btn-gestionar-cursos{
        margin: 5px 0px 5px 40px;
    }

    .cont-grafico h2{
        margin-left: 0;
        text-align: center;
    }
    
    #graficoInscripciones{
        margin: 0 auto;
    }

    #filtro-inscripciones{
        margin-left: 45px;
        margin-bottom: 15px;
        margin-top: 15px;

    }
    
    h2{
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #cont-inscripciones{
        margin: 0 auto;
        width: 19rem;
    }

    .btn-gestionar-usuarios{
        margin: 10px 0px 0 77px;
    }

    main a{
        margin: 0px 0px 0 77px;
    }
}