* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* BARRA DE NAVEGACION */
header .nav-inscripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

header .nav-inscripcion a img {
    width: 5rem;
    margin-right: 856px;
}

header .nav-inscripcion ul li{
    list-style: none;
    text-decoration: none;
}

header .nav-inscripcion ul a{
    text-decoration: none;
    color: #000;
}

/* SECCION FORMULARIO */
main .cont-agregar-usuario {
    width: 30rem;
    height: 23rem;
    background-color: #eeeeee;
    border-radius: 7px;
    margin: 35px 0 40px 123px;
}

main .cont-agregar-usuario h2{
    font-weight: 400;
    padding: 20px 0 20px 43px;
}

main .cont-agregar-usuario h3{
    margin-left: 43px;
    font-weight: 390;
}

main .cont-agregar-usuario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .cont-agregar-usuario form input{
    width: 400px;
    margin-top: 15px;
    padding: 7px;
    border: solid 1px #a7a7a7;
    border-radius: 5px;
}

.btn-crear{
    background-color: #C5FF03;
    border: solid 1px #a7a7a7;
}

.btn-buscar{
    background-color: #C5FF03;
    border: solid 1px #a7a7a7;
}

main a{
    margin-left: 123px;
    color: black;
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
}

.margen{
    margin-top: 25px;
}

.cont-eliminar-cursos{
    display: flex;
}

/* FOOTER */
footer {
    margin-top: 70px;
}

footer hr {
    width: 83.6rem;
    margin: 0 auto;
}

footer .cont-info-footer img {
    width: 3.5rem;
}

.cont-info-footer {
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-info-footer h3 {
    font-weight: 450;
    margin-top: 20px;
}

.cont-info-footer p {
    margin-top: 35px;
    font-size: 14px;
}