* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* BARRA DE NAVEGACION */
header .nav-inscripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

header .nav-inscripcion a img {
    width: 5rem;
    margin-right: 856px;
}

header .nav-inscripcion ul li {
    list-style: none;
    text-decoration: none;
}

header .nav-inscripcion ul a {
    text-decoration: none;
    color: #000;
}

/* SECCION FORMULARIO */
.cont-inscripcion-curso {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.card-curso-preview {
    border: 1px solid #bebebe;
    width: 30rem;
    height: 20rem;
    border-radius: 7px;
    padding: 30px;
}

.cont-inscripcion-curso .card-curso-preview h3 {
    font-size: 25px;
    font-weight: 450;
    padding-bottom: 10px;
}

.cont-inscripcion-curso .card-curso-preview #preview-descripcion {
    color: #212121;
    padding-bottom: 10px;
}

.cont-inscripcion-curso .card-curso-preview #preview-duracion,
.cont-inscripcion-curso .card-curso-preview #preview-cupos {
    color: #212121;
    display: inline-block;
    border-radius: 5px;
    background-color: #c4ff034e;
    padding: 2px 8px;
}

main .cont-formulario {
    width: 30rem;
    height: 20rem;
    background-color: #eeeeee;
    border-radius: 7px;
}

main .cont-formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .cont-formulario form input {
    width: 400px;
    margin-top: 15px;
    padding: 7px;
    border: solid 1px #a7a7a7;
    border-radius: 5px;
}

.btn-agregar {
    background-color: #C5FF03;
    border: solid 1px #a7a7a7;
}

main .cont-formulario h1 {
    padding: 27px 0 12px 0;
    text-align: center;
    font-weight: 550;
    font-size: 20px;
}

main a {
    margin-left: 240px;
    color: black;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.margen {
    margin-top: 25px;
}

section h2 {
    font-weight: 400;
    margin: 25px 0 0 240px;
}

.cont-eliminar-cursos {
    margin: 15px 0 0px 240px;
    background-color: #eeeeee;
    width: 65rem;
    height: auto;
    border-radius: 5px;
}

#cards{
    display: flex;
    flex-wrap: wrap;
}


#mensaje{
    margin: 15px 0 0px 240px;
}

.card-eliminar{
    border: 1px solid #bebebe;
    width: 100%;
    height: auto;
    margin: 20px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.card-eliminar h3{
    padding-bottom: 7px;
}

.card-eliminar .btn-eliminar{
    cursor: pointer;
    padding: 4px 9px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    margin-top: 7px;
    background-color: #ff00006b;
}

/* FOOTER */
footer {
    margin-top: 70px;
}

footer hr {
    width: 83.6rem;
    margin: 0 auto;
}

footer .cont-info-footer img {
    width: 3.5rem;
}

.cont-info-footer {
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-info-footer h3 {
    font-weight: 450;
    margin-top: 20px;
}

.cont-info-footer p {
    margin-top: 35px;
    font-size: 14px;
}