*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* BARRA DE NAVEGACION */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    margin-right: 4px;
    font-size: 15px;
}

nav img{
    width: 6rem;
    margin-right: 860px;
}

/* SECCION BANNER INICIO */
.cont-banner{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

section img{
    width: 83.6rem;
}

/* SECCION CURSOS */
.cont-cursos{
    margin-top: 50px;
}

.cont-cursos h1{
    text-align: center;
}

#contenedor-cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cards{
    width: 25%;
    padding: 20px;
    background-color: #EEEEEE;
    margin: 18px;
    border-radius: 5px;
}

.cards p{
    padding-bottom: 7px;
}

.cards p span {
    font-weight: 550;
}

.cards h3{
    padding-bottom: 10px;
    font-size: 22px;
}

.cards #ver-mas{
    background-color:#C4FF02;
    padding: 5px 9px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid rgb(91, 91, 91);
    transition: all ease 0.2s;
    color: #000;
}

.cards #ver-mas:hover{
    cursor: pointer;
    background-color:rgb(169, 220, 0);
}
/* SECCION POR QUE ELEGIRNOS */
.cont-parrafo{
    width: 83.6rem;
    margin: 0 auto;
}

.cont-parrafo h2{
    margin-top: 30px;
    font-weight: 500;
}

/* FOOTER */
footer{
    margin-top: 70px;
}

footer hr{
    width: 83.6rem;
    margin: 0 auto;
}

footer .cont-info-footer img{
    width: 3.5rem;
}

.cont-info-footer{
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-info-footer h3{
    font-weight: 450;
    margin-top: 20px;
}

.cont-info-footer p{
    margin-top: 35px;
    font-size: 14px;
}


@media (max-width: 900px) {
    nav img {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #contenedor-cards {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 80%;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .cont-banner img {
        width: 100%;
    }

    .cont-parrafo {
        width: 90%;
    }

    footer hr {
        width: 90%;
    }
}